

.section-title {
  margin-block: var(--size-500) var(--size-300);
  color: var(--clr-accent-400);
  font-weight: var(--fw-bold);
}

.container {

  padding-left: var(--size-500);

}
.table-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 70px);
  gap: var(--size-700);
  margin-bottom: var(--size-500);
}

.table-box {
  height: 90px;
  border: 2px  var(--clr-primary-400);
  border-radius: .5rem;
  display: grid;
  place-items: center;
  background: var(--clr-neutral-100);
  font-size: var(--fs-400);
  cursor: pointer;
  transition: transform .2s ease, background .2s ease;
  width: 90px;
}

.table-box:hover {
  background: var(--clr-accent-100);
  transform: scale(.95);
}

.table-box.hall {
  width: 90px;
}

.status-dot {
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: .25rem;
}

.status-dot.blank {
  background: var(--clr-neutral-700);
}

.status-dot.running {
  background: var(--clr-accent-400);
}

.status-dot.printed {
  background: green;
}

.status-dot.paid {
  background: orange;
}

.status-dot.kot {
  background: gold;
}
.button {

margin-left: auto;}