<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="src/style.css">
  <link rel="stylesheet" href="src/util.css">
  <!-- font vietnam pro -->
  <title>vite-project</title>
</head>

<body>

  <header class="primary-header">
    <div class="flex items-center gap-2">
      <button class="nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
        <span class="visullay-hidden">Menu</span>
        <img class="icon-hamburger | icon" src="/public/svg/bars-solid.svg" alt="" aria-hidden="true">
      </button>
      <a href="#">
        <h1>Vertual Solar Power</h1>
        <h1>System - Web Base Simulation</h1>
      </a>

    </div>
    <!-- <div class="flex items-center">
    </div> -->
  </header>
<div class="container">
  <aside class="primary-navigation" id="primary-navigation">

<nav>
      <ul aria-label="Primary" role="list" class="nav-list">
        <li class="nav-items nav-top">
          <a href="#"><span>Menu</span></a>
          <button class="nav-toggle bg-accent-500" aria-controls="primary-navigation" aria-expanded="false">
            <img class="icon-close | icon " data-type="" src="/public/svg/xmark-regular.svg" alt="">
          </button>
        </li>

        <li class="nav-items  ">
          <button  class="dropdown-btn active rotated ">
            <span>Introduction</span>
            <img class="icon-sm" src="/public/svg/angle-down.svg" alt="">
          </button>
          <ul class="sub-menu show">
            <div>
              <li class="">
                <a href=""><span>Heading 1</span></a>
              </li>
              <li>
                <a href=""><span>Heading 2</span></a>
              </li>
              <li>
                <a href=""><span>Heading 3</span></a>
              </li>
            </div>
          </ul>
        </li>
        
        <li class="nav-items  ">
          <button  class="dropdown-btn active">
            <span>Introduction</span>
            <img class="icon-sm" src="/public/svg/angle-down.svg" alt="">
          </button>
          <ul class="sub-menu show">
            <div>
              <li class="">
                <a href=""><span>Heading 1</span></a>
              </li>
              <li>
                <a href=""><span>Heading 2</span></a>
              </li>
              <li>
                <a href=""><span>Heading 3</span></a>
              </li>
            </div>
          </ul>
        </li>


      </ul>
</nav>
  </aside>

 <main class="main">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque placeat quo tempore magnam! Ea accusantium esse fugit et repellendus praesentium explicabo sed laboriosam nobis, animi, maiores ratione exercitationem cupiditate provident.
 Aliquid facere, dolores eligendi nobis accusamus eum consequatur placeat at laborum accusantium? Voluptas laudantium numquam, incidunt, consequatur, eius atque et aliquam expedita accusamus aperiam sapiente. Blanditiis tempora illo placeat facere.
 Rerum pariatur dicta, inventore ad beatae aperiam fuga consectetur nulla doloribus, expedita debitis iusto fugit. Expedita cumque minus magni, voluptates ad adipisci eos illo dolorem? Sed aspernatur vitae consequatur quae.
 Ratione nam accusantium minima dolorum dolore voluptatum laudantium enim natus, reprehenderit iusto animi quibusdam adipisci consequatur voluptatem beatae consequuntur voluptas maxime eius illum ullam corrupti aliquam cupiditate rem! Earum, rerum.
 Eaque eum a, exercitationem nesciunt sapiente, facere illo minima quia ullam tempora delectus iure minus aliquid dolore optio dolor placeat quae enim officia adipisci natus dicta labore cupiditate! Minima, earum?
 Officiis doloribus assumenda magni praesentium! Quis saepe in alias, natus esse non suscipit hic maxime facilis! Itaque atque ab quidem earum iusto, cupiditate vero non praesentium aliquid, error eius! Distinctio?
 Deleniti ex quam praesentium cupiditate atque ullam magni voluptate amet exercitationem ea, commodi a facilis odio ducimus tempora consequuntur eius rem blanditiis aliquam, neque dignissimos dolorum molestiae. Sunt, harum vitae.
 Deleniti aspernatur, velit provident deserunt debitis, iusto harum ex quos reprehenderit aut ullam inventore iure, dicta dignissimos esse eligendi? Enim ut, impedit excepturi aliquid quidem esse blanditiis veritatis expedita dolorem.
 Illo qui eius, eum odio dicta modi earum quos ipsa recusandae! Corporis reiciendis adipisci deserunt accusantium rerum ratione earum ullam eaque quo doloremque, dignissimos sequi laborum ipsum alias. Fuga, suscipit?
 Corporis cupiditate nemo aliquid doloremque id ullam, aut reprehenderit quos quae quaerat iure earum quibusdam officia vero veniam magnam, hic molestias velit temporibus iste inventore eaque libero nesciunt suscipit? Assumenda.
 Id distinctio architecto cumque porro omnis, odit inventore neque aliquid laborum ab dolorum laboriosam minima expedita! Pariatur natus aut architecto vel officiis vitae ut, quidem dolorem qui incidunt obcaecati ex.
 Minus itaque velit voluptas maxime ipsa! Architecto inventore facere nesciunt culpa ad voluptatem eos non ut facilis ab, placeat voluptatibus dicta eveniet. Rem sapiente esse iusto? Ipsam dignissimos sed culpa?
 Itaque error odio excepturi. Sapiente exercitationem suscipit, aliquid sint quibusdam expedita dolore voluptatum perferendis nam? Rerum eum vel doloribus hic! Consectetur nisi accusantium voluptate similique est eveniet, in ullam at!
 Iusto ea consequatur expedita. Expedita reiciendis possimus pariatur error inventore vero omnis ducimus aut culpa doloribus! Voluptate cumque, beatae modi odio id cupiditate aliquid, quasi eius pariatur fuga, iusto facilis.
 Vero velit nisi esse inventore. Placeat maxime deserunt ex aut assumenda, repellendus repudiandae quas, quaerat accusantium commodi, dicta atque quidem. Ab ullam quisquam atque saepe quidem omnis dicta dolor neque?
 Ad sequi accusamus dolor doloribus, nihil sed necessitatibus explicabo praesentium nobis nam mollitia aspernatur officiis incidunt aliquid esse deserunt magnam tenetur minus, facere magni ratione vel a cumque. Tenetur, quisquam.
 Fuga voluptas deserunt esse ab ut expedita nam. Cum necessitatibus eaque accusantium nesciunt beatae magni excepturi sed doloremque laborum, illum illo! Vero animi, iure repudiandae iusto ex dolores nobis nulla.
 Voluptates perspiciatis quas nisi a sunt, sapiente tenetur doloribus perferendis autem necessitatibus, numquam quidem porro. Ipsam nesciunt eligendi dicta pariatur labore iusto, deleniti error? Officiis quam assumenda labore enim consequuntur.
 Nobis, nostrum fugit cum animi eius qui dolorem recusandae veritatis, consequatur illo explicabo perspiciatis adipisci minus accusantium quam. Sapiente ducimus repellendus consequuntur odit facere provident expedita a quidem nam! Pariatur!
 Voluptates consequatur saepe dolorem, illum incidunt rerum, in aliquam ad aperiam soluta omnis amet sit numquam dignissimos accusamus. Velit ipsum asperiores suscipit atque ad? Pariatur fugiat magni sit similique culpa?
 Consequatur quaerat velit tempora doloribus cum temporibus unde tenetur ab cumque, exercitationem qui distinctio perferendis, quis totam maxime omnis illo dicta explicabo sit. Tempore at corrupti laboriosam error velit tenetur?
 Aliquam beatae dolores quis deleniti molestias fugit unde perferendis explicabo, error velit commodi expedita debitis nobis repellat laborum. Atque magni aliquid recusandae blanditiis distinctio nihil aliquam omnis facilis et a?
 Labore nemo quo, ex assumenda atque reiciendis asperiores mollitia quisquam. Dolorem neque nobis facilis nesciunt porro, assumenda aperiam eius iure alias quibusdam. Dicta nam iure soluta quo, illum dolores minima!
 Iure porro nihil incidunt, unde, fuga omnis qui autem quos consectetur, ipsa doloribus repudiandae laudantium praesentium. Expedita, explicabo odio eveniet voluptatem quo sapiente repudiandae, possimus, quisquam dicta earum dolorem enim.
 Debitis fuga quod consequuntur aut odio nulla beatae? Tempora natus odio accusamus laboriosam ipsum consequatur! Libero sit, dolorum architecto earum, exercitationem, temporibus voluptas cumque ab autem eaque blanditiis eligendi! Tenetur?
 Mollitia, perferendis debitis odio eos eveniet temporibus repudiandae? Cupiditate, laboriosam facilis? Quaerat quia nobis, voluptate aut ipsam culpa tempore tenetur dolore amet, vitae eveniet vero, rerum doloribus molestiae architecto soluta.
 Quas aut ea cumque laboriosam! Veniam quibusdam similique corporis dicta numquam possimus enim sunt placeat? Recusandae autem reiciendis quia. Eligendi possimus accusamus adipisci sunt accusantium velit recusandae maxime, maiores debitis!
 Est tempora numquam et quos impedit quaerat, praesentium inventore iste sapiente. Recusandae placeat nisi ipsum possimus natus magnam? Commodi repellendus saepe ipsam eligendi quo accusamus expedita nihil deserunt suscipit in?
 Qui, beatae deserunt. Voluptates laudantium expedita fugit et placeat dolor tempore maiores eius, mollitia nulla autem earum corrupti explicabo totam! Perferendis obcaecati, tenetur voluptatum nam facere asperiores odio cupiditate mollitia!
 Doloribus soluta ab corrupti iste maiores cupiditate debitis voluptatem nihil nam in obcaecati illum aspernatur, quasi excepturi dolorum, quae autem incidunt consequatur nisi cum aut consectetur enim itaque! Repudiandae, explicabo.
 Consectetur, excepturi aperiam. Nam perferendis fugit obcaecati quaerat voluptas aperiam hic, dolorum, labore nihil asperiores consequatur, aspernatur saepe laboriosam. Vero debitis doloribus vel explicabo eligendi quisquam omnis voluptatibus saepe! A.
 Minima eum maiores minus cum numquam non dolores distinctio dolore sint cumque vel deserunt ipsam fugit recusandae aut quia magni excepturi labore itaque, perferendis optio, repellat neque. Excepturi, sapiente libero!
 Vero ut iure in necessitatibus, saepe ducimus libero enim nostrum alias error eos temporibus eum debitis sed aspernatur, distinctio impedit amet? Illum voluptates fugit fugiat pariatur quia incidunt nostrum ullam.
 Non tempore quidem vero quibusdam quo accusamus, architecto aspernatur delectus beatae, asperiores placeat iusto illum in atque perferendis temporibus odio neque dolorum ratione eius reprehenderit. Dolore ex tenetur voluptatem magnam.
 Officia, mollitia aspernatur? Architecto modi ipsam quidem adipisci eius facere officiis praesentium. Fuga incidunt ratione hic reprehenderit rerum esse, error dignissimos id in quis vitae voluptas, quidem sapiente impedit aliquam.
 Tenetur, cupiditate exercitationem aliquid illum quisquam, facere iusto architecto explicabo modi minima necessitatibus. Voluptates impedit sint odit. Blanditiis non harum veritatis aliquam voluptatum praesentium laboriosam dolorum iste voluptates cupiditate. Temporibus!
 Unde ipsam natus quasi dolor, quia magnam exercitationem odit accusantium deleniti, consectetur ipsum dolorem, iure consequuntur eos excepturi aliquid totam facere ratione? Eaque a cumque veritatis consectetur rem voluptatem voluptatibus?
 Est, corrupti! Iusto quasi, deleniti alias maiores voluptatum quis tempore. Ipsum veritatis incidunt ducimus magni impedit ab quasi dolorem molestias laborum assumenda reprehenderit rerum nam natus quo, asperiores fuga vero.
 Laudantium atque placeat, animi pariatur, esse, iusto dolor repellat adipisci quaerat sunt enim provident corporis doloremque totam! Ab aut ipsam deleniti nisi aliquam, totam hic! Vitae totam voluptate sint! Fugiat.
 Consectetur non unde veritatis ex! Ducimus delectus quae amet pariatur fugit reiciendis minus consequatur porro? Dolore suscipit maiores perferendis veniam asperiores obcaecati ducimus sit quisquam, minus possimus perspiciatis et earum.
 Laudantium, eligendi? Cumque delectus ad architecto aperiam unde, praesentium dolorem veritatis sed eius, corrupti facere harum eligendi quibusdam dolorum pariatur at assumenda soluta fugiat autem ipsam? Quod a voluptas ea!
 Dolorem enim earum repellat et placeat nemo rem debitis maxime excepturi dolor? Exercitationem nisi vel esse natus, libero dolor odit eum molestiae ad obcaecati autem reiciendis tenetur quia velit at!
 Obcaecati harum quaerat vel placeat repellat, nisi, nesciunt ipsa unde quo esse sit eaque velit fugit incidunt modi praesentium? A culpa sapiente, laudantium cupiditate saepe doloremque cum voluptatem vero labore?
 Vitae veniam dolore id suscipit mollitia, maiores, necessitatibus assumenda adipisci iste exercitationem sed quo amet dolorem quia deleniti sunt facere? Tenetur esse aliquid ipsum sit perspiciatis, quas numquam totam? Libero?
 Alias, dolore? Exercitationem aliquam, illo cum sapiente eaque odio aspernatur enim, distinctio saepe soluta, non sit! Cupiditate iure doloribus ratione ducimus officiis, sunt, vel rerum blanditiis quos in eveniet quidem.
 Aspernatur corrupti velit commodi minus totam iste eos! Nulla, eum fugiat quo perferendis modi, earum consectetur non est velit eligendi dolorem officiis in itaque. Quaerat vel unde quisquam hic vero?
 Aliquid omnis autem ipsa quo id debitis repudiandae doloremque culpa nesciunt earum. Delectus laboriosam, tempore cupiditate eligendi qui velit corrupti! Rem earum minima eaque labore. Quam tenetur iusto neque tempora?
 Eum, odio tempore repudiandae facere amet numquam officiis consectetur, saepe maiores pariatur ad deleniti perferendis magnam voluptatem placeat minima dolor architecto aliquid nihil voluptates sunt corrupti quasi, eveniet optio. Non?
 Odio totam dolores iusto dolorum libero, dolorem eum deleniti quaerat. Voluptates nihil autem quo deleniti voluptatem eius ipsum repellat dolore dicta, ullam voluptate cum natus, necessitatibus, non quibusdam tenetur illo?
 Et voluptate in iure! Cupiditate, iure quaerat sed voluptates harum id quidem minus eligendi earum. Quibusdam, fugiat, eaque nisi voluptatem perferendis magnam minus totam amet alias ullam libero, ut modi.</main>
</div>
  <script type="module" src="/src/main.js"></script>
</body>

</html>