<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="src/style.css">
  <link rel="stylesheet" href="src/util.css">
  <!-- font vietnam pro -->
  <title>vite-project</title>
</head>

<body>

  <header class="primary-header">
    <div class="flex items-center gap-2">
      <button class="nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
        <span class="visullay-hidden">Menu</span>
        <img class="icon-hamburger | icon" src="/public/svg/bars-solid.svg" alt="" aria-hidden="true">
      </button>
      <a href="#">
        <h1>Vertual Solar Power</h1>
        <h1>System - Web Base Simulation</h1>
      </a>

    </div>
    <!-- <div class="flex items-center">
    </div> -->
  </header>

  <aside class="primary-navigation" id="primary-navigation">

    <nav class="">

      <ul aria-label="Primary" role="list" class="nav-list">
        <li class="nav-items nav-top">
          <a href="#"><span>Menu</span></a>
          <button class="nav-toggle bg-accent-500" aria-controls="primary-navigation" aria-expanded="false">
            <img class="icon-close | icon " data-type="" src="/public/svg/xmark-regular.svg" alt="">
          </button>
        </li>

        <li class="nav-items  ">
          <button  class="dropdown-btn active">
            <span>Introduction</span>
            <img class="icon-sm" src="/public/svg/angle-down.svg" alt="">
          </button>
          <ul class="sub-menu ">
            <div>
              <li class="">
                <a href=""><span>Heading 1</span></a>
              </li>
              <li>
                <a href=""><span>Heading 2</span></a>
              </li>
              <li>
                <a href=""><span>Heading 3</span></a>
              </li>
            </div>
          </ul>
        </li>
        
        <li class="nav-items  ">
          <button  class="dropdown-btn active">
            <span>Introduction</span>
            <img class="icon-sm" src="/public/svg/angle-down.svg" alt="">
          </button>
          <ul class="sub-menu show">
            <div>
              <li class="">
                <a href=""><span>Heading 1</span></a>
              </li>
              <li>
                <a href=""><span>Heading 2</span></a>
              </li>
              <li>
                <a href=""><span>Heading 3</span></a>
              </li>
            </div>
          </ul>
        </li>


      </ul>

    </nav>
  </aside>

  <main class="main">
    dsfg
  </main>

  <script type="module" src="/src/main.js"></script>
</body>

</html>