
/* Navigation */
.nav-toggle {
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: .5em;
}

.primary-navigation {
    position: fixed;
    top: 0;
    height: 100dvh;
    width: 15rem;
    padding: .5em;
    background: var(--clr-accent-100);
    transition: left .25s linear;
    left: -100%;
    border-right: 1px solid var(--clr-neutral-150);

    /* display: none; */
    ul {
        list-style: none;
    }

}

.primary-navigation[data-visible] {
    display: block;
    left: 0;
}



.primary-navigation>ul>li {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;

    .logo {
        font-weight: 600;
    }
}


.primary-navigation a,
.primary-navigation .dropdown-btn,
.primary-navigation .logo {
    border-radius: .5em;
    padding: .5em 1em;
    text-decoration: none;
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 1em;

}

.primary-navigation nav a:not(.nav-top a):hover,
.primary-navigation nav .dropdown-btn:hover {
    background: var(--clr-accent-200);
}


.dropdown-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    color: var(--clr-primary-400);
    background: none;
    border: 0;
    font: inherit;
    cursor: pointer;

    img {
        transition: 300s ease-in-out;
    }
}

.nav-list {
    display: grid;
}

.nav-items {
    display: grid;
    gap: .25em;
    padding: .15rem;
    cursor: pointer;

    a {
        text-decoration: none;
        font-size: var(--fs-400);
    }

    /* a span,
    a button {
        width: 100%;
    } */
}

.nav-top {
    display: flex;
    justify-content: space-between;
    font-weight: var(--fw-bold);
}

.sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300s ease-in-out;
    padding-left: 2em;

    li {
        display: flex;

        a {
            text-decoration: none;
        }
    }

    div {
        overflow: hidden;
    }
}

.sub-menu.show {
    grid-template-rows: 1fr;
}

.rotated img {
    rotate: 180deg;
}

.active {
    background: var(--clr-accent-300);
    color: var(--clr-primary-400);

}

@media (width >=720px) {
    .primary-navigation {
        position: sticky;
        top: 0;
    }

    .nav-toggle {
        display: none;
    }
}